<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.mapper.record.SportRecordMapper">

    <!-- 用户信息表 -->
    <sql id="sportRecord"> t_sport_record</sql>

    <resultMap id="SportOverviewVo" type="com.zyx.vo.record.SportOverviewVo">
        <result column="times" property="sportTimes"></result>
        <result column="ft_number" property="fpNumber"></result>
        <result column="total_score" property="totalScore"></result>
        <result column="city_number" property="cityNumber"></result>
    </resultMap>

    <resultMap id="SportRecordVo" type="com.zyx.vo.record.SportRecordVo">
        <id column="id" property="id"></id>
        <result column="create_time" property="createTime"></result>
        <result column="user_id" property="userId"></result>
        <!--type为运动类型1-攀岩 暂不开放使用-->
        <!--<result column="type" property="type"></result>-->
        <!--<result column="sport_info_id" property="sportInfoId"></result>-->
        <result column="score" property="score"></result>
        <result column="spend_time" property="spendTime"></result>
        <result column="concern_id" property="concernId"></result>
        <result column="venue_id" property="venueId"></result>
        <result column="name" property="venueName"></result>
        <!--<result column="path" property="path"></result>-->
        <result column="level" property="level"></result>
        <result column="img_urls" property="imgUrls"></result>
    </resultMap>

    <select id="selectRecordOverview" resultMap="SportOverviewVo" parameterType="java.lang.Integer">
        SELECT COUNT(DISTINCT(t_sport_record.id))AS times,COUNT(DISTINCT(t_sport_record.venue_id))AS ft_number ,SUM(t_sport_record.score)AS total_score,COUNT(DISTINCT(t_venue.city))  AS city_number
        FROM t_sport_record
        LEFT JOIN t_venue ON t_sport_record.`venue_id`=t_venue.`id`
        WHERE
        t_sport_record.user_id = ${userId}
    </select>

    <select id="selectHistoryRecords" resultMap="SportRecordVo" parameterType="com.zyx.param.record.SportRecordParam">
        SELECT
        r.`id`,r.`create_time`,r.`user_id`,r.`level` AS LEVEL,r.`score` AS score,r.`spend_time`,r.`concern_id`,r.`venue_id`,v.`name`,v.`img_urls`
        FROM
        t_sport_record r LEFT JOIN t_venue v
        ON r.`venue_id` = v.`id`
        WHERE
        r.`user_id`=#{userId}
        ORDER BY r.`create_time` DESC
    </select>


    <resultMap id="FootprintVO" type="com.zyx.vo.record.FootprintVo">
        <result column="city" property="city"></result>
        <result column="venue_id" property="venueId"></result>
        <result column="venue_name" property="venueName"></result>
        <result column="address" property="address"></result>
        <result column="fp_number" property="fpNumber"></result>
        <result column="longitude" property="longitude"></result>
        <result column="latitude" property="latitude"></result>
    </resultMap>

    <select id="selectVenueFootprints" resultMap="FootprintVO">
       SELECT
        t_venue.city,t_sport_record.venue_id,t_venue.name AS venue_name,t_venue.address,COUNT(t_sport_record.`venue_id`)AS fp_number,t_venue.`longitude`,t_venue.`latitude`
        FROM
        t_sport_record LEFT JOIN t_venue  ON t_sport_record.`venue_id` = t_venue.`id`
        WHERE
        t_sport_record.user_id=#{userId}
        AND
        city=#{city}
	    GROUP BY t_sport_record.venue_id
    </select>

    <resultMap id="CityFootprintVO" type="com.zyx.vo.record.CityFootprintVo">
        <result column="city" property="city"></result>
        <result column="fp_number" property="fpNumber"></result>
        <result column="img_urls" property="imgUrls"></result>
    </resultMap>
    <select id="selectCityFootprints" resultMap="CityFootprintVO">

        SELECT
        venue.city,COUNT(record.venue_id)AS fp_number,venue.`img_urls`
        FROM
        t_sport_record record LEFT JOIN t_venue venue ON record.`venue_id` = venue.`id`
        WHERE
        record.user_id=${userId}
        GROUP BY
        record.`venue_id`

    </select>

    <select id="selectFullCityFootprints" resultMap="FootprintVO">
         SELECT
        t_venue.city,t_sport_record.venue_id,t_venue.name AS venue_name,t_venue.address,COUNT(t_sport_record.venue_id)AS fp_number,t_venue.longitude,t_venue.latitude
        FROM
        t_sport_record LEFT JOIN t_venue  ON t_sport_record.`venue_id` = t_venue.`id`
        WHERE
        t_sport_record.user_id=#{userId}
	    GROUP BY t_sport_record.venue_id
	    ORDER BY city
    </select>

    <resultMap id="RankVo" type="com.zyx.vo.record.RankVo">
        <result column="row_num" property="rankNum"></result>
        <result column="user_id" property="userId"></result>
        <result column="total_score" property="totalScore"></result>
        <association column="user_id" property="userIconVo" select="selectUserIcon"></association>
    </resultMap>
    <select id="selectRankList" resultMap="RankVo" parameterType="com.zyx.param.record.RankParam">
        SELECT @row := @row + 1 AS row_num,sr.user_id,SUM(sr.score) AS total_score
        FROM
        t_sport_record sr ,(SELECT @row := 0) r
        GROUP BY sr.user_id
        ORDER BY total_score DESC
        LIMIT ${offset},${pageSize}
    </select>
    <select id="selectUserIcon" parameterType="java.lang.Integer" resultType="com.zyx.vo.account.UserIconVo">
        SELECT u.nickname,u.avatar,u.authenticate,l.`step` ,l.`name` AS levelName
        FROM user u LEFT JOIN level l ON u.`level_id`=l.`id`
        WHERE
        u.id=#{userId}
    </select>

    <select id="selectSelfRank" resultMap="RankVo" parameterType="com.zyx.param.record.RankParam">
        SELECT
        *
        FROM(
        SELECT @row := @row + 1 AS row_num,sr.user_id,SUM(sr.score) AS total_score
        FROM
        t_sport_record sr ,(SELECT @row := 0) r
        GROUP BY sr.user_id
        ORDER BY total_score DESC
        ) sort_table
        WHERE
        user_id=#{userId}
        ORDER BY total_score
    </select>

    <select id="selectRecordUserIcon" resultType="com.zyx.vo.account.UserIconVo" parameterType="com.zyx.param.record.SportRecordParam" >
        SELECT
        DISTINCT(u.`id`),u.`avatar`,u.`nickname`
        FROM user u LEFT JOIN t_sport_record sr ON u.`id`=sr.`user_id`
        WHERE sr.`venue_id`=${venueId}
        LIMIT ${offset},${pageSize}
    </select>
</mapper>
