<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ The MIT License (MIT)
  ~
  ~ Copyright (c) 2014 abel533@gmail.com
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in
  ~ all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  ~ THE SOFTWARE.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyx.mapper.zoom.EquipMapper">
    <resultMap id="EquipResultMap" type="com.zyx.entity.zoom.Equip">
        <id column="Id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="account_id" property="accountId" jdbcType="INTEGER"/>
        <result column="label_id" property="labelId" jdbcType="INTEGER"/>
        <result column="del" property="del" jdbcType="INTEGER"/>
        <result column="mask" property="mask" jdbcType="INTEGER"/>
        <result column="equip_type" property="equipType" jdbcType="INTEGER"/>
        <result column="img_url" property="imgUrl" jdbcType="LONGVARCHAR"/>

    </resultMap>

    <select id="userSelect" parameterType="int" resultType="com.zyx.vo.account.UserIconVo">
        SELECT nickname,avatar,id,authenticate FROM `user` WHERE id=#{user_id}
    </select>

    <select id="userAuthSelect" parameterType="int" resultType="com.zyx.vo.zoom.UserAuthVo">
        SELECT authInfo FROM `user_auth` WHERE user_id=#{user_id}
    </select>


    <select id="zanSelect" parameterType="int" resultType="int">
        SELECT COUNT(id) FROM zan WHERE zan.body_type=2 AND zan.body_id=#{concernId}
    </select>

    <select id="commentSelect" parameterType="int" resultType="int">
        SELECT COUNT(id) FROM comment WHERE comment.comment_type=2 AND comment_id=#{concernId}
    </select>

    <select id="labelSelect" parameterType="int" resultType="java.lang.String">
        SELECT label_name FROM t_equip_label WHERE id=#{id}
    </select>

    <resultMap id="EquipCustomResultMap" type="com.zyx.vo.zoom.EquipListVo" extends="EquipResultMap">
        <association property="zanCounts" column="id" select="zanSelect"/>
        <association property="commentCounts" column="id" select="commentSelect"/>
        <association property="userIconVo" column="account_id" select="userSelect"/>
        <association property="userAuthVo" column="account_id   " select="userAuthSelect"/>
        <association property="labelName" column="label_id" select="labelSelect"/>
    </resultMap>

    <resultMap id="EquipDetailsResultMap" type="com.zyx.vo.zoom.EquipDetailsVo" extends="EquipResultMap">
        <association property="userIconVo" column="account_id" select="userSelect"/>
        <association property="labelName" column="label_id" select="labelSelect"/>
        <collection property="commentVos" column="id" select="commentQuery"/>
    </resultMap>

    <select id="queryEquip" parameterType="java.lang.Integer" resultMap="EquipCustomResultMap">
        SELECT * FROM equip WHERE del=0 AND mask=0
        <if test="id!=null">
            AND id=#{id}
        </if>
    </select>

    <select id="queryOne" parameterType="java.lang.Integer" resultMap="EquipDetailsResultMap">
        SELECT * FROM equip WHERE id=#{id}
    </select>

    <select id="queryMyList" parameterType="com.zyx.param.user.UserEquipmentParam" resultMap="EquipDetailsResultMap">
        SELECT * FROM equip WHERE account_Id = #{userId}
        <if test="page != null and pageSize != null">
            limit #{page}, #{pageSize}
        </if>
    </select>

    <select id="commentQuery" resultMap="commentVoMap">
        SELECT * FROM  comment WHERE comment_type=2 AND comment_id=#{commentId} ORDER BY create_time DESC
    </select>

    <resultMap id="CommentResultMap" type="com.zyx.entity.system.Comment">
        <id column="Id" property="id" jdbcType="INTEGER"/>
        <result column="comment_type" property="commentType" jdbcType="INTEGER"/>
        <result column="comment_id" property="commentId" jdbcType="INTEGER"/>
        <result column="comment_account" property="commentAccount" jdbcType="INTEGER"/>
        <result column="comment_content" property="commentContent" jdbcType="LONGVARCHAR"/>
        <result column="comment_state" property="commentState" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="comment_img_path" property="commentImgPath" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="commentVoMap" type="com.zyx.vo.system.CommentVo" extends="CommentResultMap">
        <association property="userVo" column="comment_account" select="userSelect"/>
        <collection property="replyVos" column="id" select="replySelect"/>
    </resultMap>

    <resultMap id="replyVoMap" type="com.zyx.vo.system.ReplyVo" extends="replyResultMap">
        <association property="fromUserVo" column="reply_from_user" select="userSelect"/>
        <association property="toUserVo" column="reply_to_user" select="userSelect"/>
    </resultMap>

    <resultMap id="replyResultMap" type="com.zyx.entity.system.Reply">
        <id column="Id" property="id" jdbcType="INTEGER"/>
        <result column="reply_parent_id" property="replyParentId" jdbcType="INTEGER"/>
        <result column="reply_from_user" property="replyFromUser" jdbcType="INTEGER"/>
        <result column="reply_to_user" property="replyToUser" jdbcType="INTEGER"/>
        <result column="reply_content" property="replyContent" jdbcType="VARCHAR"/>
        <result column="reply_state" property="replyState" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="reply_img_path" property="replyImgPath" jdbcType="VARCHAR"/>

    </resultMap>

    <select id="replySelect" parameterType="int" resultMap="replyVoMap">
        SELECT * FROM reply WHERE reply_parent_id=#{parentId}
    </select>

</mapper>