<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyx.mapper.zoom.FollowMapper">
    <resultMap id="activityVo" type="com.zyx.vo.activity.ActivityVo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="from_user_id" property="fromUserId" jdbcType="INTEGER"/>
        <result column="to_user_id" property="toUserId" jdbcType="INTEGER"/>
    </resultMap>


</mapper>