<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.mapper.system.SystemCityMapper">

    <resultMap id="cityVo" type="com.zyx.vo.system.CityVo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="city_name" property="cityName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
    </resultMap>

    <select id="findHotCity" resultMap="cityVo">
        SELECT * FROM city WHERE state = 0
    </select>
</mapper>
